{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <h1>{{ app.user.username }}  - <a href="{{ path('home_reset') }}">Reset</a></h1>
        <h2>{{ app.user.positionX }} - {{ app.user.positionY }}</h2>
    {% endif %}

   {{ form(form) }}

{% endblock %}