{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ game.id }}</td>
        </tr>
        <tr>
            <th>TEAM A</th>
            <td>{{ game.teamA.name }}</td>
        </tr>
        <tr>
            <th>ScoreTeamA</th>
            <td>{{ game.scoreTeamA }}</td>
        </tr>
        <tr>
            <th>TEAM B</th>
            <td>{{ game.teamB.name }}</td>
        </tr>
        <tr>
            <th>ScoreTeamB</th>
            <td>{{ game.scoreTeamB }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ game.date ? game.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ game.rating }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
