{% extends 'base.html.twig' %}

{% block title %}WeaponUser index{% endblock %}

{% block body %}
    <h1>WeaponUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quality</th>
                <th>Ammunition</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weapon_user in weapon_users %}
            <tr>
                <td>{{ weapon_user.id }}</td>
                <td>{{ weapon_user.quality }}</td>
                <td>{{ weapon_user.ammunition }}</td>
                <td>{{ weapon_user.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('weapon_user_show', {'id': weapon_user.id}) }}">show</a>
                    <a href="{{ path('weapon_user_edit', {'id': weapon_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('weapon_user_new') }}">Create new</a>
{% endblock %}
