{% extends 'base.html.twig' %}

{% block title %}WeaponUser{% endblock %}

{% block body %}
    <h1>WeaponUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weapon_user.id }}</td>
            </tr>
            <tr>
                <th>Quality</th>
                <td>{{ weapon_user.quality }}</td>
            </tr>
            <tr>
                <th>Ammunition</th>
                <td>{{ weapon_user.ammunition }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ weapon_user.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('weapon_user_index') }}">back to list</a>

    <a href="{{ path('weapon_user_edit', {'id': weapon_user.id}) }}">edit</a>

    {{ include('weapon_user/_delete_form.html.twig') }}
{% endblock %}
