{% extends 'base.html.twig' %}

{% block title %}UserProduct index{% endblock %}

{% block body %}
    <h1>UserProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_product in user_products %}
            <tr>
                <td>{{ user_product.id }}</td>
                <td>{{ user_product.quantity }}</td>
                <td>{{ user_product.createdAt ? user_product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_product_show', {'id': user_product.id}) }}">show</a>
                    <a href="{{ path('user_product_edit', {'id': user_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_product_new') }}">Create new</a>
{% endblock %}
