{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h1>Detail user</h1>
        </a><a
                href="{{ path('user_action_shootthesheriff') }}">  Shoot Shoot  </a>
    </div>

    <div class="panel">
        {% for weaponUser in weaponsUser %}
            {% set damage = weaponUser.quality *  weaponUser.weapon.damage %}
            <h2 {% if weaponUser.active is same as(true) %} class="active" {% endif %}>Name
                : {{ weaponUser.weapon.name }} - Ammu : {{ weaponUser.ammunition }} - DMG :{{ damage }} <a
                        href="{{ path('user_action_load', {'id': weaponUser.id}) }}">Load</a><a
                        href="{{ path('user_action_reload', {'id': weaponUser.id}) }}">Reload</a></h2>
        {% endfor %}
    </div>


    <div class="panel">
        {% for user in users %}
            <h2 {% if user.health is same as(constant('App\\Entity\\User::HEALT')) %} class="active" {% endif %}>Name
                : {{ user.email }} - <span class="point">{{ user.health }}PV</span><a
                        href="{{ path('user_action_shoot', {'id': user.id}) }}">Shoot</a><a
                        href="{{ path('user_action_shootthesheriff', {'id': user.id}) }}">  Shoot Bis  </a></h2>
        {% endfor %}
    </div>

    <div class="panel">
        <a href="{{ path('weapon_user_new') }}">Ajouter une arme</a>
    </div>

{% endblock %}