{% extends 'base.html.twig' %}

{% block title %}UserCharacters{% endblock %}

{% block body %}
    <h1>UserCharacters</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_character.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user_character.createdAt ? user_character.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Favorite</th>
                <td>{{ user_character.favorite ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_characters_index') }}">back to list</a>

    <a href="{{ path('user_characters_edit', {'id': user_character.id}) }}">edit</a>

    {{ include('user_characters/_delete_form.html.twig') }}
{% endblock %}
