{% extends 'base.html.twig' %}

{% block title %}UserOrder index{% endblock %}

{% block body %}
    <h1>UserOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_order in user_orders %}
            <tr>
                <td>{{ user_order.id }}</td>
                <td>{{ user_order.createdAt ? user_order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_order.price }}</td>
                <td>{{ user_order.discount }}</td>
                <td>{{ user_order.reference }}</td>
                <td>
                    <a href="{{ path('user_order_show', {'id': user_order.id}) }}">show</a>
                    <a href="{{ path('user_order_edit', {'id': user_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_order_new') }}">Create new</a>
{% endblock %}
