{% extends 'base.html.twig' %}

{% block title %}UserOrder{% endblock %}

{% block body %}
    <h1>UserOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_order.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user_order.createdAt ? user_order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ user_order.price }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ user_order.discount }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ user_order.reference }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_order_index') }}">back to list</a>

    <a href="{{ path('user_order_edit', {'id': user_order.id}) }}">edit</a>

    {{ include('user_order/_delete_form.html.twig') }}
{% endblock %}
