{% extends 'base.html.twig' %}

{% block title %}Actions{% endblock %}

{% block body %}

    <h1>Joueurs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Armes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Damage</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for weapon in weapons %}
            <tr>
                <td>{{ weapon.name }}</td>
                <td>{{ weapon.damage }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
