{% block menu %}
    <a href="{{ path('home_index') }}">Home</a>
    <a href="{{ path('user_index') }}">User</a>
    <a href="{{ path('actions_index') }}">Actions</a>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}">Deconnexion</a>
    {% else %}
        <a href="{{ path('app_login') }}">Connexon</a>
    {% endif %}
{% endblock %}
