{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ItemType</th>
                <th>Quantity</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.itemType }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.user.email }}</td>
                <td>
                    {% if is_granted(constant('App\\Security\\AppAccess::ITEM_SHOW'), item) %}
                        <a href="{{ path('item_show', {'id': item.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted(constant('App\\Security\\AppAccess::ITEM_EDIT'), item) %}
                        <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_new') }}">Create new</a>
{% endblock %}
